@font-face {
  font-family: "Concept-JLd7";
  src: url("/fonts/custom/Concept-JLd7.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ConceptSolid-Gmwm";
  src: url("/fonts/custom/ConceptSolid-Gmwm.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
